* {
    box-sizing: border-box;
    padding: 1px;
}

.Form {
    display: flex;
    flex-direction: column;
}
.in {
    margin-bottom: 15px;
}

input {
    margin-left: 5px;
    width: 150px;
    height: 20px;
    margin: 0;
    padding: 0;
}

button {
    margin-left: 80px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

label {
	font: inherit;
}

td {
    border: 1px solid rgb(97, 95, 95);
    height: 30px;
    width: 30px;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    
}

#table {
    margin-left: 100px;
    margin-top: 50px;
}

.black {
    background-color: #000;
}
