@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto_Slab';
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/Roboto_Slab/RobotoSlab-Light.ttf);
}