.aside {
    width: 150px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &-li {
        font-size: 18px;
        margin-top: 10%;
        margin-bottom: 5px;
    }
}

ul li {
    list-style: none;
    max-width: 138px;
    border: 3px solid #fff;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a {
    color: $header2_text;
}

li:hover {
    border-left: 3px solid $header2_text;
    transition: all .3s linear;

    a {
        color: #000;
        transition: all .3s linear;
    }

}

.aside-li:hover {
    border-left: 3px solid transparent;
    transition: all .3s linear;
}

@media screen and (max-width:599px) {
    .aside {
        display: none;
    }
}