body {
    background: url(/images/background.jpg);
}

.button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: blue;
  transition: all .3s linear;
  border: none;

  &:hover {
    transition: all .3s linear;
      cursor: pointer;
      background-color: rgb(235, 13, 13);
      color: #fff;
  }

  &:active {
    transition: all .5s linear;
    font-size: 23px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.main {
    margin-top: 70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 700px;
}

.user_tabs {
  width: 100%;
  display: flex;
  background-color: rgb(216, 202, 6);
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    border: 2px solid rgb(10, 10, 10);
    
    color: #000;
    padding: 10px;
    font-weight: 700;
    transition: all .3s linear;
    font-size: 16px;

    &:hover {
      transition: all .3s linear;
      cursor: pointer;
      background-color: rgb(235, 13, 13);
      color: #fff;
    }

    &:active {
      transition: all .3s linear;
      font-size: 23px;
    }
  }
}

.info_block {

.tabs {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border: 2px solid rgb(10, 10, 10);
    padding: 10%;
  }
  p { 
    line-height: 28px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
  }

  img {
    border-radius: 50%;
  }

  .block {
    display: none;
  }
}

.red {
  background-color: rgb(235, 13, 13);
}